*{
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h3{
  font-size: 1rem;
  margin: 1rem 1rem;
}

.list-div{
  width: auto;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  margin: 1rem 1.5rem;
}


.list-button{
  margin: 0.5rem 0.8rem;
  width: auto;
  border: 0rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: skyblue;
}

.map-contain{
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.maparea{
  margin: 1rem 1.5rem;
  width: auto;
  height: 80vh;
  position: relative;
}

.location-icon{
  font-size: 2rem;
  color: red;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}